---
const { title, description, image, link, demo, techStack, status } = Astro.props;

---
<a href={link} class="project-card" target="_blank">
  <img src={`/src/assets/media/projects/${image}.png`} alt={title} loading="lazy" />
  <h3>{title}</h3>
  <p>{description}</p>
  <p>Tech Stack: {techStack}</p>
  <p>Status: {status}
</a>
