---
const { title, description, image, link, githubUrl, demo, techStack, status } = Astro.props;
---
<a href={link} class="project-card">
  <img src={image} alt={title} loading="lazy" />
  <h3>{title}</h3>
  <p>{description}</p>
  <p>Tech Stack: {techStack}</p>
  <p>Status: {status}
    <p><a href="https://github.com/NAW-News-Around-the-World/NAW">Github URL</a></p>
</a>
